# Operating System
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
Icon


# Composer
/vendor

# CodeKit
config.codekit
.codekit-cache
.sass-cache
