AddType application/vnd.ms-fontobject .eot
AddType application/octet-stream .ttf
AddType application/x-font-woff .woff
# AddType application/font-woff .woff

Header unset ETag
FileETag None

AddDefaultCharset utf-8

<Files .htaccess>
	order allow,deny
	deny from all
</Files>

<IfModule mod_rewrite.c>

	Options -Multiviews -Indexes +FollowSymLinks
	RewriteEngine On
	RewriteBase /
	DirectorySlash Off

	RewriteRule ^gallery.*$ / [R=301,L]
	RewriteRule ^lightbox/$ https://github.com/joelvardy/Basic-jQuery-Lightbox-Plugin [R=301,L]

	# Remove trailing slash
	RewriteRule ^(.*)\/(\?.*)?$ $1$2 [R=301,L]

	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteRule ^ index.php [L]

</IfModule>

# One week
<filesMatch ".(css|eot|svg|ttf|woff|ico|jpg|js)$">
	Header set Cache-Control "max-age=604800, public, must-revalidate"
</FilesMatch>