html {
	background: url('../img/fail.gif') no-repeat center center fixed;
	background-size: cover;
}

header nav {
	background: rgba(255,255,255,0.75);
	border-radius: 4px;
	padding: 20px 25px 15px 5px;
}

#message {
	background: rgba(255,255,255,0.75);
	border: 1px rgba(0,0,0,0.1) solid;
	border-radius: 4px;
	box-shadow: 0 0 3px 0 rgba(0,0,0,0.05);
	margin-top: 3.125em;
	padding: 2em;
}
	#message p {
		margin-top: 0.4em;
	}