body {
	width: 100%;
}

header nav a:not(.active) {
	display: none;
}

div.project {
	border: none;
	border-radius: none;
	box-shadow: none;
	margin-top: 3.125em;
}
	div.project div.inner {
		padding: 4%;
	}