<div id="smrs" class="project contract">

    <img class="header" alt="SMRS" src="/assets/img/projects/centre-screen.jpg">

    <div class="inner">

        <h2>Centre Screen</h2>

        <ul class="details">
            <li><strong>Project Type:</strong> Contract Work</li>
            <li><strong>Website:</strong> <a href="http://www.centrescreen.co.uk" title="Centre Screen" data-analytics="Centre Screen">centrescreen.co.uk</a></li>
            <li><strong>Date:</strong> September 2015 - October 2015</li>
        </ul>

        <p>I was asked to rebuild Centre Screen's existing website using WordPress, while at the same time making some design changes to improve UX.</p>
        <p>During the development I took the existing fixed width design and made it responsive.</p>

    </div>

</div>
