img {
    border: 0;
    display: block;
}

ul, ol {

    list-style-position: outside;
    list-style-type: square;

    li {
        margin-top: 0.1em;
    }

    ul, ol {
        margin-top: 0.1em !important;
        margin-left: 1em;
    }

}

s {
    text-decoration: strikethrough;
}

h2 {
    margin-top: 2em;
}

h3 {
    margin-top: 1.5em;
}

h4 {
    margin-top: 1em;
}

h5 {
    margin-top: 0.5em;
}

p {
    margin-top: 1em;
}

ul, ol {
    margin-top: 0.5em;
}

blockquote {

    background: rgba(0, 0, 0, 0.025);
    margin-top: 1em;
    padding: 0.5em 1em;

    cite {
        display: block;
        font-weight: bold;
        margin-top: 1em;
    }

}

table {

    border-collapse: collapse;
    margin-top: 1em;
    width: 100%;

    thead {
        background: #222;
        color: white;
        font-weight: bold;
    }

    tbody tr {

        background: rgba(0, 0, 0, 0.025);

        &:nth-child(even) {
            background: rgba(0, 0, 0, 0.05);
        }

    }

    td {
        padding: 1% 2%;
    }

}

hgroup.section {

    height: 1.5em;
    margin: 2em 0;
    position: relative;

    span {
        background: rgb(100, 100, 100);
        display: block;
        height: 1px;
        position: relative;
        top: 50%;
        width: 100%;
    }

    h3 {

        display: inline-block;
        background: #f2efeb;
        left: 37.5%;
        margin: 0;
        position: relative;
        text-align: center;
        width: 25%;

        @media screen and (max-width: 800px) {
            left: 25%;
            width: 50%;
        }

    }

}

div.photo {

    margin: 1.5em 0;

    img {
        margin: auto;
        max-width: 100%;
    }

    &.full-width {

        background-position: center center;
        background-size: cover;
        height: 400px;
        margin: 3em 0;
        overflow: hidden;

        &.left {
            background-position: center left;
        }

        &.right {
            background-position: center right;
        }

        img {
            width: 100%;
        }

    }

}

div.gallery {

    height: 300px;
    margin: 3em 0;
    overflow: hidden;

    @media screen and (max-width: 800px) {
        height: auto;
    }

    div.photo {

        background-position: center center;
        background-size: cover;
        float: left;
        height: 100%;
        margin: 0;

        &.one-thirds {
            width: 33%;
        }

        &.two-thirds {
            width: 66%;
        }

        &.margin-left {
            margin-left: 1%;
        }

        &.margin-right {
            margin-right: 1%;
        }

        @media screen and (max-width: 800px) {
            float: none;
            height: 200px;
            margin: 1em 0 0 !important;
            width: auto !important;
        }

    }

}

div.video {

    height: 0;
    position: relative;
    margin: 3em 0;

    &.aspect-16-9 {
        padding-bottom: 56.25%;
    }

    iframe {
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }

}
