<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ .Title }}</title>
<meta name="theme-color" content="#cc6d00">
<meta name="msapplication-navbutton-color" content="#cc6d00">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<link rel="canonical" href="{{ .Permalink }}">
<meta property="og:url" content="https://joelvardy.com/">
<meta property="og:title" content="{{ .Title }} | Joel Vardy - Senior Software Engineer">
<meta property="og:type" content="website">
<meta property="og:image" content="https://joelvardy.com/assets/img/joel-vardy.jpg">
<meta property="og:description" content="{{ .Description }}">
<meta property="og:site_name" content="Joel Vardy">
<link href="{{ index .Site.Data.manifest "/css/design.css" }}" rel="stylesheet" media="screen">
<script>
    window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
    ga('create', 'UA-27602018-2', 'auto');
    ga('send', 'pageview');
</script>
<script src="{{ index .Site.Data.manifest "/javascript/vendor.js" }}" defer></script>
<script src="{{ index .Site.Data.manifest "/javascript/app.js" }}" defer></script>
<script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "Person",
        "name": "Joel Vardy",
        "email": "info@joelvardy.com",
        "image": "/images/joel-vardy.jpg",
        "jobTitle": "Senior Software Engineer",
        "url": "https://joelvardy.com",
        "description": "Working at Football Whispers as a Senior Software Engineer.",
        "gender": "male",
        "address": {
            "@type": "PostalAddress",
            "addressCountry": "GB"
        },
        "sameAs": [
            "https://www.linkedin.com/in/joelvardy",
            "https://twitter.com/joelvardy",
            "https://plus.google.com/+JoelVardyDeveloper"
        ]
    }
</script>
