<!DOCTYPE html>
<html lang="en-GB">
    <head>
        {{ partial "head.html" . }}
    </head>
    <body data-section="error">

        <header class="full-page">

            <nav>
                <a href="/" title="About Joel Vardy">About</a>
                <a href="/writing" title="Joel Vardy's technical writing">Writing</a>
            </nav>

            <h1>Joel Vardy</h1>

            <p>Well this is what happens when you <strong>test in production</strong>, afraid there was some error, and you've seen it!</p>

        </header>

    </body>
</html>
