section[page=projects] {

	header.half-page {
		background-image: url('../img/projects/loch.jpg');
		background-position: left center;
	}

	div.project {

		background: white;
		border: 1px rgba(0,0,0,0.1) solid;
		border-radius: 4px;
		box-shadow: 0 0 3px 0 rgba(0,0,0,0.05);
		margin-top: 3em;
		overflow: hidden;

		img.header, img.footer {
			width: 100%;
		}

		div.inner {

			padding: 8%;

			h2 {
				margin-top: 0;
			}

			ul.details {

				margin-top: 1em;

				li strong {
					color: black;
				}

			}

		}

	}

}
