section[page=writing-post] {

	header.half-page {
		background-image: url('../img/writing/derwent-edge.jpg');
	}

	div.post {

		h4 {
			font-family: 'Sonus-Light', Helvetica, Arial, sans-serif;
			font-size: 1.05em;
			margin-top: 0;
		}

		ul, ol {
			list-style-position: inside;
			margin-top: 1em;
		}

		div.photo.event {

			margin: 3em 0;
			position: relative;
			z-index: 97;

			&:after {
				background-image: linear-gradient(transparent 0, rgba(0,0,0,0.75) 100%);
				bottom: 0;
				content: " ";
				display: block;
				left: 0;
				position: absolute;
				right: 0;
				top: 250px;
				z-index: 98;
			}

			div.inner {

				height: 100%;
				margin: auto;
				position: relative;
				width: 70%;
				max-width: 1000px;
				z-index: 99;

				@media screen and (max-width: 800px) {
					width: 80%;
				}

				@media screen and (max-width: 600px) {
					width: 90%;
				}

				time {

					background: rgba(0,0,0,0.75);
					border: 2px white solid;
					border-radius: 35px;
					display: block;
					height: 70px;
					position: absolute;
					right: 0;
					top: 225px;
					width: 70px;

					span {

						color: white;
						display: block;
						text-align: center;

						&.top {
							font-size: 1.5em;
							left: 0;
							position: absolute;
							right: 0;
							top: 10px;
						}

						&.bottom {
							left: 0;
							position: absolute;
							right: 0;
							text-transform: uppercase;
							top: 35px;
						}

					}

				}

				div.details {

					color: white;
					position: absolute;
					top: 300px;

					h4 {
						border-bottom: 1px white solid;
						display: inline-block;
					}

					p {

						text-shadow: 1px 1px rgba(0,0,0,0.25);

						@media screen and (max-width: 600px) {
							display: none;
						}

					}

				}

			}

		}

	}

}
