section[page=writing-list] {

	a.post {

		color: #222;
		display: block;
		margin-top: 3em;

		h2 {
			border-bottom: 1px solid rgba(0,0,0,0.075);
			display: inline-block;
			margin-top: 0;
		}

		p {

			&.posted {

				color: #444;
				margin-top: 0.5em;

				strong {
					color: #222;
				}

			}

		}

	}

}
