img {
	border: 0;
	display: block;
}

ul, ol {

	list-style-position: outside;
	list-style-type: square;

	li {
		margin-top: 0.1em;
	}

	ul, ol {
		margin-top: 0.1em !important;
		margin-left: 1em;
	}

}
