*, *:after, *:before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

@import '_prism';

@import '_type';
@import '_elements';

html {
	background: #f2efeb;
	color: #222;
	font: 105%/1.6em 'Sonus-Light', Helvetica, Arial, sans-serif;
	position: relative;
}

body[template=default] {

	margin: 0 auto;
	overflow-x: hidden;
	padding-bottom: 3em;
	width: 70%;
	max-width: 1000px;

	@media screen and (max-width: 800px) {
		width: 80%;
	}

	@media screen and (max-width: 600px) {
		width: 90%;
	}

	header.primary {

		overflow: hidden;
		padding-top: 3em;
		position: relative;

		a.photo {

			display: block;
			float: left;

			img {
				border-radius: 55px;
				width: 110px;
			}

		}

		hgroup {

			float: left;
			margin-left: 15px;
			padding-top: 35px;
			text-shadow: white 0px 1px 0px;

			@media screen and (max-width: 600px) {
				padding-top: 45px;
			}

			h1 a {
				color: #222;
			}

			h4 {
				font-family: 'Sonus-Light', Helvetica, Arial, sans-serif;
				font-size: 1em;
				margin: 0 !important;
			}

		}

		nav {

			position: absolute;
			overflow: hidden;
			right: 0;

			a {

				color: #444;
				float: left;
				margin-left: 20px;
				text-shadow: white 0px 1px 0px;
				text-transform: uppercase;

				&:hover {
					color: #222;
				}

				&.active {
					border-bottom: 2px #ff8800 solid;
					color: #222;
				}

				@media screen and (max-width: 600px) {
					&:first-child {
						display: none;
					}
				}

			}

		}

	}

}


section[page=about] {

	ul, ol {
		list-style-position: inside;
	}

	#biography {
		margin-top: 3em;
	}

	#skills {

		h4 {
			border-bottom: 1px solid rgba(0,0,0,0.075);
			display: inline-block;
		}

	}

	#contact {

		p {
			margin-top: 0.5em;
		}

	}

}


section[page=workspace] {

	h4 {
		margin-top: 1.5em;
	}

}


section[page=projects] div.project {

	background: white;
	border: 1px rgba(0,0,0,0.1) solid;
	border-radius: 4px;
	box-shadow: 0 0 3px 0 rgba(0,0,0,0.05);
	margin-top: 3em;
	overflow: hidden;

	img.header, img.footer {
		width: 100%;
	}

	div.inner {

		padding: 8%;

		h2 {
			margin-top: 0;
		}

		ul.details {

			margin-top: 1em;

			li strong {
				color: black;
			}

		}

	}

}


section[page=writing-list] {

	a.post {

		color: #222;
		display: block;
		margin-top: 3em;

		h2 {
			border-bottom: 1px solid rgba(0,0,0,0.075);
			display: inline-block;
			margin-top: 0;
		}

		p {

			&.posted {

				color: #444;
				margin-top: 0.5em;

				strong {
					color: #222;
				}

			}

		}

	}

}

section[page=writing-post] {

	div.post {

		h4 {
			font-family: 'Sonus-Light', Helvetica, Arial, sans-serif;
			font-size: 1.05em;
			margin-top: 0;
		}

		ul, ol {
			list-style-position: inside;
			margin-top: 1em;
		}

		div.photo.event {

			margin: 3em 0;
			position: relative;
			z-index: 97;

			&:after {
				background-image: linear-gradient(transparent 0, rgba(0,0,0,0.75) 100%);
				bottom: 0;
				content: " ";
				display: block;
				left: 0;
				position: absolute;
				right: 0;
				top: 250px;
				z-index: 98;
			}

			div.inner {

				height: 100%;
				margin: auto;
				position: relative;
				width: 70%;
				max-width: 1000px;
				z-index: 99;

				@media screen and (max-width: 800px) {
					width: 80%;
				}

				@media screen and (max-width: 600px) {
					width: 90%;
				}

				time {

					background: rgba(0,0,0,0.75);
					border: 2px white solid;
					border-radius: 35px;
					display: block;
					height: 70px;
					position: absolute;
					right: 0;
					top: 225px;
					width: 70px;

					span {

						color: white;
						display: block;
						text-align: center;

						&.top {
							font-size: 1.5em;
							left: 0;
							position: absolute;
							right: 0;
							top: 10px;
						}

						&.bottom {
							left: 0;
							position: absolute;
							right: 0;
							text-transform: uppercase;
							top: 35px;
						}

					}

				}

				div.details {

					color: white;
					position: absolute;
					top: 300px;

					h4 {
						border-bottom: 1px white solid;
						display: inline-block;
					}

					p {

						text-shadow: 1px 1px rgba(0,0,0,0.25);

						@media screen and (max-width: 600px) {
							display: none;
						}

					}

				}

			}

		}

	}

}


@media print {

	body, section[page=writing-post] div.post div.photo.event div.inner {
		width: 100%;
	}

	header nav a:not(.active) {
		display: none;
	}

	section[page=projects] div.project {

		border: none;
		border-radius: none;
		box-shadow: none;
		margin-top: 3em;


		div.inner {
			padding: 4%;
		}

	}

	div.photo.full-width {
		display: none;
	}

}
