*, *:after, *:before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

@import '_prism';

@import '_type';
@import '_elements';

html {
	background: #f2efeb;
	color: #222;
	font: 105%/1.6em 'Sonus-Light', Helvetica, Arial, sans-serif;
	position: relative;
}

@import 'templates/_default';
@import 'templates/_about';


@import 'pages/_about';
@import 'pages/_workspace';
@import 'pages/_projects';
@import 'pages/_writing-list';
@import 'pages/_writing-post';


@media print {

	body, section[page=writing-post] div.post div.photo.event div.inner {
		width: 100%;
	}

	header nav a:not(.active) {
		display: none;
	}

	section[page=projects] div.project {

		border: none;
		border-radius: none;
		box-shadow: none;
		margin-top: 3em;


		div.inner {
			padding: 4%;
		}

	}

	div.photo.full-width {
		display: none;
	}

}
